In [52]:
import pandas as pd
import numpy as np
import nltk
import os

pd.options.display.max_colwidth=200

## LOAD DATA AND AND ADD LABELS

In [50]:
MAIN_DIR_PATH="./bbc"
texts=[]
labels=[]
for dir_name in os.listdir(MAIN_DIR_PATH):
    path=MAIN_DIR_PATH+'/'+dir_name

    files=[path+'/'+file for file in os.listdir(path)]

    for file in files:
        with open(file) as txt_file:
            texts.append(txt_file.read())
            labels.append(dir_name)

In [54]:
data=pd.DataFrame(zip(texts,labels), columns=['text','label'])
data.head(10)

,text,label
0,"Ad sales boost Time Warner profit\n\nQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (Â£600m) for the three months to December, from $639m year-earlier.\n\nThe firm, which is ...",business
1,Dollar gains on Greenspan speech\n\nThe dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.\n\nAn...,business
2,Yukos unit buyer faces loan claim\n\nThe owners of embattled Russian oil giant Yukos are to ask the buyer of its former production unit to pay back a $900m (Â£479m) loan.\n\nState-owned Rosneft bo...,business
3,"High fuel prices hit BA's profits\n\nBritish Airways has blamed high fuel prices for a 40% drop in profits.\n\nReporting its results for the three months to 31 December 2004, the airline made a pr...",business
4,Pernod takeover talk lifts Domecq\n\nShares in UK drinks and food firm Allied Domecq have risen on speculation that it could be the target of a takeover by France's Pernod Ricard.\n\nReports in th...,business
5,"Japan narrowly escapes recession\n\nJapan's economy teetered on the brink of a technical recession in the three months to September, figures show.\n\nRevised figures indicated growth of just 0.1% ...",business
6,"Jobs growth still slow in the US\n\nThe US created fewer jobs than expected in January, but a fall in jobseekers pushed the unemployment rate to its lowest level in three years.\n\nAccording to La...",business
7,"India calls for fair trade rules\n\nIndia, which attends the G7 meeting of seven leading industrialised nations on Friday, is unlikely to be cowed by its newcomer status.\n\nIn London on Thursday ...",business
8,"Ethiopia's crop production up 24%\n\nEthiopia produced 14.27 million tonnes of crops in 2004, 24% higher than in 2003 and 21% more than the average of the past five years, a report says.\n\nIn 200...",business
9,Court rejects $280bn tobacco case\n\nA US government claim accusing the country's biggest tobacco companies of covering up the effects of smoking has been thrown out by an appeal court.\n\nThe dem...,business